<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="background: black; color:white; padding:16px">
      <p>NAVBAR</p>
      <div>
        <%= link_to"Home", root_path %>
        <%= link_to"About", about_path %>
        <%= link_to"Contacts", contacts_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
